<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ metadata.metadata.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bundledCss %}
    {% seo "" %}
  </head>
  <body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
    <header id="header-section">
      <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
        <div class="container">
          <div class="navbar-brand-wrapper d-flex w-100">
            <img src="{{ '/data/logo/images/image1.png' |url }}" alt=".">
            <button class="navbar-toggl ml-auto" type=" button" data-toggle=" collapse" data-target=" #navbarSupportedContent" aria-controls=" navbarSupportedContent" aria-expanded=" false" aria-label="toggle" navigation="navigation">
              <span class=" mdi mdi-menu mdi-menu navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
              <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
                <div class="navbar-collapse-logo">
                  <img src="{{ '/data/logo/images/image1.png' |url }}" alt=".">
                </div>
                <button class=" navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="navigation">
                  <span class=" mdi mdi-close navbar-toggler-icon pl-5"></span>
                </button>
              </li>
              {% include "partials/mainnav.njk" %}
              {% include "partials/lggnav.njk" %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div>
      {% block content %}
        {{ content|safe }}
      {% endblock content %}
    </div>
    {% bundledJs %}
  </body>
</html>