{% extends "layouts/base.njk" %}

{% block content %}
  <div class="site-section">
    <div class="container sp pt-5">
      <div class="row justify-content-md-center pt-100">
        <div class="col-md-10">
          <div class=" reader-bar-start markdown-content">
            <h1 class="page-title">
              {{ title }}
            </h1>

            <p class="lead">Temps de lecture :
              {{ content | readingTime }}.
            </p>
            <h2 class="page-subtitle">
              {{ question }}
            </h2>

            {{content | safe}}
            <p>
              <a class="btn  btn-outline-dark btn-sm float-right" href="https://docs.google.com/document/d/{{gsuiteid}}">Suggérer une modification</a>
            </p>
          </div>
          {% readerBar %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
