{% extends "layouts/base.njk" %}

{% block content %}
  <div class="site-section">
    <div class="container sp pt-5" style="padding-top: 150px !important;">
      <div class="row justify-content-md-center pt-100">
        <div class="col">
          <div class="markdown-content">
            <h2 class="page-title">
              {{ title }}
            </h2>
            <p class="lead">Temps de lecture :
              {{ content | readingTime }}.
            </p>
            {{content | safe}}
            <p>
              <a class="btn  btn-outline-dark btn-sm float-right" href="https://docs.google.com/document/d/{{gsuiteid}}">Suggérer une modification</a>
            </p>
          </div>
          {% readerBar %}

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
